
.chart .series0 {
  -fx-stroke: -fx-chart-color-0;
  -fx-background-color: -fx-chart-color-0, white;
}

.chart .series1 {
  -fx-stroke: -fx-chart-color-1;
  -fx-background-color: -fx-chart-color-1, white;
}
.chart .series2 {
  -fx-stroke: -fx-chart-color-2;
  -fx-background-color: -fx-chart-color-2, white;
}
.chart .series3 {
  -fx-stroke: -fx-chart-color-3;
  -fx-background-color: -fx-chart-color-3, white;
}
.chart .series4 {
  -fx-stroke: -fx-chart-color-4;
  -fx-background-color: -fx-chart-color-4, white;
}
.chart .series5 {
  -fx-stroke: -fx-chart-color-5;
  -fx-background-color: -fx-chart-color-5, white;
}
.chart .series6 {
  -fx-stroke: -fx-chart-color-6;
  -fx-background-color: -fx-chart-color-6, white;
}
.chart .series7 {
  -fx-stroke: -fx-chart-color-7;
  -fx-background-color: -fx-chart-color-7, white;
}
.chart .series8 {
  -fx-stroke: -fx-chart-color-8;
  -fx-background-color: -fx-chart-color-8, white;
}
.chart .series9 {
  -fx-stroke: -fx-chart-color-9;
  -fx-background-color: -fx-chart-color-9, white;
}
.chart .series10 {
  -fx-stroke: -fx-chart-color-10;
  -fx-background-color: -fx-chart-color-10, white;
}
.chart .series11 {
  -fx-stroke: -fx-chart-color-11;
  -fx-background-color: -fx-chart-color-11, white;
}
.chart .series12 {
  -fx-stroke: -fx-chart-color-12;
  -fx-background-color: -fx-chart-color-12, white;
}
.chart .series13 {
  -fx-stroke: -fx-chart-color-13;
  -fx-background-color: -fx-chart-color-13, white;
}
.chart .series14 {
  -fx-stroke: -fx-chart-color-14;
  -fx-background-color: -fx-chart-color-14, white;
}
.chart .series15 {
  -fx-stroke: -fx-chart-color-15;
  -fx-background-color: -fx-chart-color-15, white;
}
.chart .series16 {
  -fx-stroke: -fx-chart-color-16;
  -fx-background-color: -fx-chart-color-16, white;
}
.chart .series17 {
  -fx-stroke: -fx-chart-color-17;
  -fx-background-color: -fx-chart-color-17, white;
}
.chart .series18 {
  -fx-stroke: -fx-chart-color-18;
  -fx-background-color: -fx-chart-color-18, white;
}
.chart .series19 {
  -fx-stroke: -fx-chart-color-19;
  -fx-background-color: -fx-chart-color-19, white;
}