
.chart .data0 {
  -fx-pie-color: -fx-chart-color-0;
}

.chart .data1 {
  -fx-pie-color: -fx-chart-color-1; 
}
	
.chart .data2 {
  -fx-pie-color: -fx-chart-color-2; 
}
	
.chart .data3 {
  -fx-pie-color: -fx-chart-color-3; 
}
	
.chart .data4 {
  -fx-pie-color: -fx-chart-color-4; 
}
	
.chart .data5 {
  -fx-pie-color: -fx-chart-color-5; 
}
	
.chart .data6 {
  -fx-pie-color: -fx-chart-color-6; 
}
	
.chart .data7 {
-fx-pie-color: -fx-chart-color-7; 
}
	
.chart .data8 {
-fx-pie-color: -fx-chart-color-8; 
}
	
.chart .data9 {
  -fx-pie-color: -fx-chart-color-9; 
}
	
.chart .data10 {
  -fx-pie-color: -fx-chart-color-10; 
}
	
.chart .data11 {
  -fx-pie-color: -fx-chart-color-11; 
}
	
.chart .data12 {
  -fx-pie-color: -fx-chart-color-12; 
}
	
.chart .data13 {
  -fx-pie-color: -fx-chart-color-13; 
}
	
.chart .data14 {
  -fx-pie-color: -fx-chart-color-14; 
}
	
.chart .data15 {
  -fx-pie-color: -fx-chart-color-15; 
}
	
.chart .data16 {
  -fx-pie-color: -fx-chart-color-16; 
}
	
.chart .data17 {
  -fx-pie-color: -fx-chart-color-17; 
}
	
.chart .data18 {
  -fx-pie-color: -fx-chart-color-18; 
}
	
.chart .data19 {
  -fx-pie-color: -fx-chart-color-19;
}

